.nav, .pagination, .carousel a { cursor: pointer; }

.dropdown-padding{
	padding: 15px;
}

.hero-unit{
	background-image: url('../images/rivermap.jpg');
	background-repeat: no-repeat;
	background-size: 120%;
	width: 100%;
	height: 300px;
}

.l1{
	position:fixed;
	top: 400px;
	right: 260px;
}

.l2{
	position:fixed;
	top: 370px;
	right: 840px;
}

.l3{
	position:fixed;
	top: 270px;
	right: 600px;
}