.nav, .pagination, .carousel a { cursor: pointer; }

.dropdown-padding{
	padding: 15px;
}

.hero-unit{
	background-image: url('../images/rivermap.jpg');
	background-repeat: no-repeat;
	background-size: 110%;
	width: 90%;
	height: 50%;
}

.l1{
	position:fixed;
	top: 68%;
	right: 14%;
}

.l2{
	position:fixed;
	top: 53%;
	right: 60%;
}

.l3{
	position:fixed;
	top: 35%;
	right: 40%;
}